body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
}

.blank-cell-group,
.char-cell-group {
  width: 100%;
  flex-direction: row;
}

.char-cell-group {
  flex-wrap: wrap;
  margin-top: 5rem;
}

.blank-cell-group .cell-item,
.char-cell-group .cell-item {
  width: 25%;
  height: 25vw;
  padding: 0.5rem;
  box-sizing: border-box;
}

.blank-cell-group .cell-item .wrapper,
.char-cell-group .cell-item .wrapper {
  width: 100%;
  height: 100%;
  border: 0.1rem solid #ddd;
  box-sizing: border-box;
}

.char-cell-group .cell-item .wrapper {
  /* border: none; */
  background-color: orange;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
}
